/* autoprefixer grid: autoplace */

/* ------- IMPORTS --------- */
@import "~nav-frontend-skjema-style/dist/main.css";
@import "~nav-frontend-veileder-style/dist/main.css";
@import "~nav-frontend-stegindikator-style/dist/main.css";
@import "~nav-frontend-typografi-style/dist/main.css";
@import "~nav-frontend-core/dist/main.css";
@import "~@navikt/ds-css";
@import "./App.css";
