{{#if soeker.arbeidOgUtdanning.selvstendig.svar}}
    <div>
        <h4>
            {{#eq spraak "en"}}
                About your business
            {{else}}
                {{#eq spraak "nn"}}
                    Om næringa
                {{else}}
                    Om næringen
                {{/eq}}
            {{/eq}}
        </h4>

        {{#each soeker.arbeidOgUtdanning.selvstendig.svar}}
            {{> eypdfgen/partials_v2/common/opplysning this.firmanavn}}

            {{> eypdfgen/partials_v2/common/opplysning this.orgnr}}

            {{> eypdfgen/partials_v2/common/opplysning this.endretInntekt}}

            {{#eq this.endretInntekt.svar.verdi "JA" }}
                {{> eypdfgen/partials_v2/common/opplysning this.endretInntekt.opplysning}}
            {{/eq}}
        {{/each}}
    </div>
{{/if}}
