<h2>Opplysninger om barn</h2>

<table>
    <tbody>
    <tr>
        <td>{{this.soeker.uregistrertEllerVenterBarn.spoersmaal}}</td>
        <td>{{capitalize_names this.soeker.uregistrertEllerVenterBarn.svar}}</td>
    </tr>
    </tbody>
</table>

{{#if this.barn.length}}
    <h3>Registrerte barn:</h3>

    {{#each this.barn}}
        {{> eypdfgen/partials/common/barn/barn this}}
    {{/each}}
{{/if}}
