@import (reference) "nav-frontend-core";

@width: 588px;

.app {
    padding: 2rem;
    margin: 0 auto;
    max-width: @width;
}

.knapp--hoved {
    transform: translateY(0px) !important;
}

.knapp--fare {
    transform: translateY(0px) !important;
}

.skjemagruppe {
    padding-bottom: 3rem;
}

.center {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.inputPanelGruppe.to-valg-radio > .inputPanelGruppe__inner {
    width: 100%;
    display: flex;
    column-gap: 1rem;

    .radioPanel {
        margin-bottom: 0;
        flex: auto;
    }
}

.skjemagruppe.skjemagruppe__inline {
    display: flex;
    column-gap: 1rem;

    .skjemaelement {
        flex: auto;
    }
}

.react-datepicker-wrapper {
    width: 100%;
}

.modal {
    width: @width;
}

.navigasjon-rad {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 2rem;

    .knapp {
        margin-bottom: 0;
    }
}
