$width: 650px;

@media screen and (max-width: $width) {
  .soeknad {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    white-space: pre-line;
  }
}

@media screen and (min-width: $width) {
  .soeknad {
    padding: 2rem;
    margin: 0 auto;
    max-width: $width;
    white-space: pre-line;
  }
}

.knapp--hoved {
  transform: translateY(0) !important;
}

.knapp--fare {
  transform: translateY(0) !important;
}

.skjemagruppe {
  margin-bottom: 2rem !important;

  @media screen and(min-width: $width) {
    margin-bottom: 3rem !important;
  }
}

.ingress {
  margin-bottom: 1em !important;
}

.center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.inputPanelGruppe.inline > .inputPanelGruppe__inner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;

  .radioPanel {
    margin-bottom: 0;
    width: 100%;
    min-width: calc(33.3% - 1rem);

    @media screen and (min-width: $width) {
      max-width: 33.3%;
    }
  }
}

.hvorforPanel {
  &__toggle {
    color: var(--navds-color-text-link);
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0.2rem 0;
    margin: 0;
    cursor: pointer;
    border-radius: 0.25rem;
  }

  &__innhold {
    margin-top: 1rem;
  }
}

.rad {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;

  .kol {
    flex-grow: 1;
    flex-basis: auto;
  }

  .kol-75 {
    flex-basis: 75%;
  }

  .kol-50 {
    flex-basis: 50%;
  }

  .kol-25 {
    flex-basis: 25%;
  }

  @media screen and (max-width: $width) {
    &.col-mobile {
      flex-direction: column;
    }
  }
}

.typo-normal {
  margin: revert; // Bruke p-elementet sin default margin
}

.tekstgruppe {
  padding-bottom: 1rem;

  .typo-normal {
    margin: 0.2rem 0;
  }
}

.blur-text {
  filter: blur(5px);
}

.checkboxgruppe.inline {
  display: flex;
  column-gap: 2rem;
}

.skjemagruppering {
  margin-bottom: 3rem !important;

  .skjemagruppe {
    margin-bottom: 1.5rem !important;

    .skjemaelement {
      margin-bottom: 0 !important;
    }
  }

  .skjemaelement {
    margin-bottom: 1.5rem !important;
  }
}

.modal {
  max-width: $width;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .skjemagruppering {
    margin-bottom: 2rem !important;

    .skjemagruppe {
      margin-bottom: 1rem !important;

      .skjemaelement {
        margin-bottom: 0 !important;
      }

    }

    .skjemaelement {
      margin-bottom: 1rem !important;
    }
  }

}

.navigasjon-rad {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 2rem;

  .knapp {
    margin-bottom: 0;
  }
}

.bottom-spacing-none {
  margin-bottom: 0;
}

.oppsummering {
  &.ekspanderbartPanel--border,
  &.ekspanderbartPanel--border:hover,
  &.ekspanderbartPanel--border.ekspanderbartPanel--apen,
  &.ekspanderbartPanel--border.ekspanderbartPanel--apen:hover {
    border: 0;
    border-top: 1px solid #6a6a6a;
    border-radius: 0 !important;
    box-shadow: none;
  }

  .ekspanderbartPanel__hode:focus {
    border-radius: 0 !important;
  }
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.mute {
  color: #666;
}

.typo-element {
  margin-bottom: 0.5rem;
}

.labs-lenke {
  display: block;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  cursor: initial;
}

.luft-under {
  margin-bottom: 1.5rem;
}

.spinner-overlay {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 999;
  pointer-events: none;
  overflow: no-display;

  .spinner-content {
    padding: 3rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 #ddd;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/**
Override av snodig oppførsel
*/
.skjemaelement__input {
  width: 100%;
}

.avbryt-modal {
  @media screen and (max-width: $width) {
    .knapp {
      font-size: 0.8em;
      padding: 0 1em;
    }
  }

  .skjemagruppe {
    margin-bottom: 1rem !important;
  }
}

.navigasjon-footer {
  @media screen and (max-width: $width) {
    .knapp {
      font-size: 1rem;
      padding: 0 1rem;
      width: 50%;
    }
  }
}

//TODO: Fjerne når vi har gått helt over på ds-react og alle fonter er like
.navds-link,
.navds-label,
.navds-body-short,
.navds-body-long {
  font-size: 16px;
}

.navds-alert {
  &--inline {
    background: none;
    border: none;
  }
}

.navds-popover {
  border-radius: 4px;
  padding: 1rem;
}
