<div class="row">
    <p class="no-margin">
        <span class="muted">NAVs saksnummer: </span> {{saksnummer}}
    </p>

    <p class="no-margin">
        <span class="muted">Navn: </span>{{barn.navn}}
    </p>

    <p class="no-margin">
        <span class="muted">Fødselsnummer: </span> {{barn.fnr}}
    </p>
</div>
