<div class="row">
    <h2>
        Beregning og regulering
    </h2>

    <p>Barnepensjon utgjør 40 prosent av folketrygdens grunnbeløp (G), som for tiden er {{ grunnbeloep }} kr.</p>

    <p>Reguleringen skjer med virkning fra 1. mai og selve økningen blir vanligvis etterbetalt i juni.</p>
</div>
