<div class="row">
    <h2>Du må melde fra om endringer</h2>

    <p>
        Hvis du planlegger opphold i utlandet kan det ha betydning for beløpet du får utbetalt fra NAV. I slike
        tilfeller må
        du derfor straks melde fra til oss.
    </p>

    <p>
        Hvis du har fått utbetalt for mye fordi du ikke har gitt oss beskjed, må du vanligvis betale tilbake
        pengene. Du er selv ansvarlig for å holde deg orientert om bevegelser på kontoen din, og du må melde
        fra om eventuelle feil til NAV.
    </p>
</div>
