<div class="row">
    <h2>
        Etterbetaling
    </h2>

    <p>
        Du får etterbetalt pensjon fra {{utbetalingsinfo.virkningsdato}}. Etterbetalingen blir vanligvis utbetalt i
        løpet av syv virkedager.
    </p>
</div>
