<div class="row">
    <h2>
        Du har rett til å klage
    </h2>

    <p>
        Hvis du mener vedtaket er feil, kan du klage innen seks uker fra den datoen du mottok vedtaket. Klagen skal
        være skriftlig. Du finner skjema og informasjon på nav.no/klage.
    </p>
</div>
