<div class="row">
    <h2>Ønsker du å endre kontonummer?</h2>

    <p>
        Hvis du som forelder skal endre på kontonummeret senere kan du sende melding via
        <a href="https://www.nav.no/skrivtiloss">www.nav.no/skrivtiloss</a>
        eller bruke skjema NAV 95-20.00. Adressen vår står på førstesiden til skjemaet du skriver ut.
        Du må legge ved kopi av din (forelders) legitimasjon.
    </p>

    <p>
        Hvis du er verge må du i tillegg til egen legitimasjon legge ved en kopi av vergefullmakten.
    </p>

    <p>
        Barn mellom 15-18 år, som har egen BankID, kan endre kontonummer selv ved å logge inn på/i DittNAV.
    </p>

    <p>
        Vil du legge inn skattetrekk på barnepensjonen?
    </p>

    <p>
        Barnepensjon er skattepliktig, men vi trekker ikke skatt av beløpet uten at vi får beskjed om det.
    </p>

    <p>Forelder/verge kan be om trekk i barnepensjon på to måter:</p>
    <ol>
        <li>
            Be NAV om frivillig skattetrekk i barnepensjonen.
        </li>
        <li>
            Be Skatteetaten om nytt skattekort med høyere trekk i egen inntekt.
            <br/>
            Informasjon om dette finner du på <a href="https://www.nav.no/frivillig-skattetrekk">www.nav.no/frivillig-skattetrekk</a>.
            Vær oppmerksom på at frivillig skattetrekk må sendes inn på nytt hvert kalenderår.
        </li>
    </ol>

    <p>
        Hvis du har spørsmål om skatt må du ta kontakt med Skatteetaten.
    </p>
</div>
