<div class="row">
    <h2>
        Har du spørsmål?
    </h2>

    <p>
        Kontakt oss gjerne på nav.no eller på telefon {{nksTelefon}}. Hvis du oppgir
        fødselsnummeret ditt når du tar kontakt med NAV, kan vi lettere gi deg rask og god hjelp.
    </p>
</div>
