<table>
    <thead>
        <tr>
            <th colspan="2">
                <h4>Opplysninger om den som søker</h4>
            </th>
        </tr>
    </thead>

    <tbody>
        {{> eypdfgen/partials/common/personalia/enkelPersonalia this}}
    </tbody>
</table>
