.ds-datepicker {
  width: 100%;

  input {
    min-height: 40px;
  }

  .skjemaelement__input--harFeil:not(:focus):not(:hover):not(:active):not(.inputPanel--focused) {
    border: none;
    box-shadow: none;
    input {
      border-color: #ba3a26;
      box-shadow: 0 0 0 1px #ba3a26;
    }
  }
}

.datovelger {
  > div {
    width: 100%;
  }
}
