<h2>Opplysninger om avdøde</h2>

<table>
    <thead>
    <tr>
        <th colspan="2">
            Personalia
        </th>
    </tr>
    </thead>

    <tbody>
    {{> eypdfgen/partials_v2/common/personalia/enkelPersonalia this}}

    {{> eypdfgen/partials_v2/common/opplysning this.statsborgerskap}}
    {{> eypdfgen/partials_v2/common/datoOpplysning this.datoForDoedsfallet}}
    {{> eypdfgen/partials_v2/common/opplysning this.doedsaarsakSkyldesYrkesskadeEllerYrkessykdom}}
    </tbody>
</table>

{{> eypdfgen/partials_v2/common/avdoed/utenlandsopphold this.utenlandsopphold}}

{{> eypdfgen/partials_v2/common/avdoed/naeringsinntekt this.naeringsInntekt}}

{{> eypdfgen/partials_v2/common/avdoed/militaertjeneste this.militaertjeneste}}
