{{#if this}}
    <div>
        <h4>
            {{#eq spraak "en"}}
                Military or civil service
            {{else}}
                {{#eq spraak "nn"}}
                    Militær eller sivil førstegongsteneste
                {{else}}
                    Militær eller sivil førstegangstjeneste
                {{/eq}}
            {{/eq}}
        </h4>

        {{> eypdfgen/partials_v2/common/opplysning this}}

        {{#eq this.svar.verdi "JA"}}
            {{> eypdfgen/partials_v2/common/opplysning this.opplysning}}
        {{/eq}}
    </div>
{{/if}}
