{{#if this}}
    <div>
        <h4>
            {{#eq spraak "en"}}
                Income from self-employment
            {{else}}
                {{#eq spraak "nn"}}
                    Næringsinntekt
                {{else}}
                    Næringsinntekt
                {{/eq}}
            {{/eq}}
        </h4>

        {{> eypdfgen/partials_v2/common/opplysning this}}

        {{#eq this.svar.verdi "JA"}}
            {{> eypdfgen/partials_v2/common/opplysning this.opplysning.naeringsinntektPrAarFoerDoedsfall}}

            {{> eypdfgen/partials_v2/common/opplysning this.opplysning.naeringsinntektVedDoedsfall}}
        {{/eq}}
    </div>
{{/if}}
