.forside {
  .typo-normal {
    font-size: 18px;
    line-height: 26px;
  }

  .typo-undertittel {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
  }
}
.bekreftCheckboksPanel {
  .skjemaelement {
    margin: 1rem !important;
  }
}

#language-selector {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
}
