<h4>
    {{#eq spraak "en"}}
        Current country of residence
    {{else}}
        {{#eq spraak "nn"}}
            Opphaldsland
        {{else}}
            Oppholdsland
        {{/eq}}
    {{/eq}}
</h4>

{{> eypdfgen/partials_v2/common/opplysning this}}

{{#eq this.svar.verdi "NEI"}}
    {{> eypdfgen/partials_v2/common/opplysning this.opplysning.land}}
{{/eq}}
