<tr>
    <td>Fornavn:</td>
    <td>{{capitalize_names this.fornavn}}</td>
</tr>
<tr>
    <td>Etternavn:</td>
    <td>{{capitalize_names this.etternavn}}</td>
</tr>
<tr>
    <td>Fødselsnummer:</td>
    <td>{{this.foedselsnummer}}</td>
</tr>