<tr>
    <td colspan="2">
        <table class="inner">
            <thead>
            <tr>
                <th colspan="2">Kontaktinfo</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{this.telefonnummer.spoersmaal}}</td>
                <td>{{this.telefonnummer.svar}}</td>
            </tr>
            <tr>
                <td>{{this.epost.spoersmaal}}</td>
                <td>{{this.epost.svar}}</td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>