<table>
    <thead>
    <tr>
        <th colspan="2">Militærtjeneste</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{this.spoersmaal}}</td>
        <td>{{capitalize_names this.svar}}</td>
    </tr>

    {{#eq this.svar "JA"}}
        <tr>
            <td>Hvilke(-t) år? (valgfri):</td>
            <td>{{this.opplysning.svar}}</td>
        </tr>
    {{/eq}}

    </tbody>
</table>
