<tr>
    <td>
        <table class="inner">
            <thead>
            <tr>
                <th colspan="2">Forelder</th>
            </tr>
            </thead>

            <tbody>
            {{> eypdfgen/partials/common/personalia/enkelPersonalia this}}
            </tbody>
        </table>
    </td>
</tr>
