<tr>
    <td colspan="2">
        <table class="inner">
            <tbody>
            <tr>
                <td>Forelder</td>
                <td>
                    {{capitalize_names this.fornavn}}
                    {{capitalize_names this.etternavn}}
                    ({{this.foedselsnummer}})
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
