<tr>
    <td colspan="2">
        <table class="inner">
            <thead>
            <tr>
                <th colspan="2">Samboer</th>
            </tr>
            </thead>

            <tbody>
            {{> eypdfgen/partials/common/personalia/enkelPersonalia this}}
            <tr>
                <td>{{this.fellesBarnEllertidligereGift.spoersmaal}}</td>
                <td>{{capitalize_names this.fellesBarnEllertidligereGift.svar}}</td>
            </tr>
            <tr>
                <td>{{this.inntekt.spoersmaal}}</td>
                <td>{{capitalize_names this.inntekt.svar}}</td>
            </tr>
            {{#eq this.inntekt.svar "JA" }}
               {{> eypdfgen/partials/gjenlevendepensjon/samboer/inntekt this.inntekt.opplysning}}
            {{/eq}}
            </tbody>
        </table>
    </td>
</tr>
