.mute {
    color: #666;
}

.center {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.avbryt-text {
    text-align: center;
    white-space: pre-line;
}

.kol-75 {
    flex-basis: 75%;
}

.kol-50 {
    flex-basis: 50%;
}

.kol {
    flex-grow: 1;
    flex-basis: auto;
}

.luft-under {
    margin-bottom: 1.5rem;
}

.edit-svg {
    margin-right: 10px;
    text-underline: none;
}

.bottom-spacing-none {
    margin-bottom: 0;
}

.blur-text {
    filter: blur(5px);
}

.tekstgruppe {
    padding-bottom: 1rem;
}

.width-50 {
    @media screen and (min-width: 650px) {
        width: 50%;
    }
}