<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        @page {
            @bottom-right {
                font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
                font-size: 12px;
                content: "Side "counter(page) " av "counter(pages);
            }
        }

        .avslagsgrunnContainer {
            margin-bottom: 1em;
            padding-left: 30px;
        }

        .header {
            margin-bottom: 40px;
        }

        .navLogo {
            height: 75px;
            margin-bottom: 128px;
        }

        .personalia {
            clear: both;
            padding-bottom: 16px;
        }

        .personalia p {
            margin: 0;
        }

        .mainContent {
            margin-bottom: 40px;
        }

        .info {
            margin-bottom: 40px;
        }

        .info p {
            margin-top: 0;
        }

        h3 {
            margin-bottom: 4px;
        }

        .hilsen {
            margin-top: 64px;
        }

        .hilsen p {
            padding: 0;
            margin: 0;
        }

        .beregning__heading {
            margin-bottom: 0;
        }

        .beregning {
            border-collapse: collapse;
            margin-bottom: 2em;
            width: 100%;
            clear: both;
        }
        .beregning__title {
            margin-bottom: 0;
        }
        .beregning__beløp {
            text-align: right;
        }

        .beregning__utenlandsk {
            list-style: none;
            margin: 0;
            padding-left: 16px;
            font-size: 0.8em;
        }

        .beregning__sum td {
            border-top: 1px solid black;
            font-weight: bold;
        }

        .fritekst {
            white-space: pre-wrap;
        }
    </style>
    <title>Supplerende stønad</title>
</head>

<body>
    <div class="main">
        {{#with personalia}}
        <div class="header">
            <img class="navLogo" src="{{image "Navlogo.png"}}" />

            <div class="personalia">
                <p>{{fornavn}} {{etternavn}}</p>
                <p>Dato: {{dato}}</p>
            </div>
        </div>
        {{/with}}
        {{> @partial-block}}

    </div>
</body>

</html>
