{{#> supdfgen/partials/base}}
    {{> @partial-block}}

    <div class="info">
        <h3>Viktig informasjon</h3>
        <p>
            Du kan ikke oppholde deg utenfor Norge i mer enn 90 dager til sammen i denne stønadsperioden.
            Opphold i utlandet må dokumenteres med norske stempel i pass eller boardingpass.
            Du må melde fra til NAV om planlagt ut- og innreisedato før du reiser til utlandet.
        </p>
        <p>
            Bryter du disse reglene kan stønaden din opphøre. Du kan også få krav om å betale tilbake penger.
        </p>
        <p>
            Vi kaller deg inn til møte på ditt lokale NAV-kontor to ganger i stønadsperioden.
            Dersom du ikke møter uten gyldig grunn, stanser vi stønaden din.
        </p>
    </div>

    <div class="info">
        <h3>Du må melde fra om endringer</h3>
        <p>
            Dersom det skjer endringer som kan ha betydning for stønaden du får utbetalt, må du straks melde fra til NAV. Du finner mer informasjon på nav.no/rettogplikt.
        </p>
    </div>

    <div class="info">
        <h3>Du har rett til å klage</h3>
        <p>
            Du kan klage innen seks uker fra den datoen du mottok vedtaket. Du finner skjema og informasjon på nav.no/klage.
        </p>
    </div>

    <div class="info">
        <h3>Du har rett til innsyn</h3>
        <p>
            På nav.no/DittNAV kan du se dokumentene i saken din.
        </p>
    </div>

    <div class="info">
        <h3>Sjekk utbetalingene dine</h3>
        <p>
            Sjekk alle utbetalingene du har mottatt på nav.no/DittNAV. Her kan du også endre kontonummeret ditt.
        </p>
    </div>

    <div class="info">
        <h3>Har du spørsmål?</h3>
        <p>
            Du finner nyttig informasjon på nav.no/supplerende.<br/>
            Du kan også kontakte oss på 55 55 33 34.
        </p>
    </div>

    <div class="hilsen">
        <p>
            Med vennlig hilsen <br/>
            {{#if saksbehandlerNavn}}{{saksbehandlerNavn}}{{#if attestantNavn}} og {{attestantNavn}}{{/if}} hos {{/if}}NAV Familie- og pensjonsytelser Ålesund <br/>
            <br />
            Postadresse:<br />
            NAV Familie- og pensjonsytelser Ålesund<br />
            Postboks 6600 Etterstad<br />
            0607 OSLO
        </p>
    </div>
{{/supdfgen/partials/base}}
