<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Nåværende arbeidsforhold</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    {{#with naavaerendeArbeidsforhold}}
        <tr>
            <td>Nåværende arbeidsforhold:</td>
            <td>TBD</td>
        </tr>
    {{/with}}
    </tbody>
</table>
