<table>
    <thead>
    <tr>
        <th colspan="2">
            <h4>Hva søker du?</h4>
        </th>
    </tr>
    </thead>

    <tbody>
    {{#with stoenadType}}
        <tr>
            <td>
                Valgte stønader:
            </td>
            <td>
                {{#if this.etterlatte}}
                    <div>- Etterlatte</div>
                {{/if}}
                {{#if this.gjenlevendetillegg}}
                    <div>- Gjenlevendetilegg</div>
                {{/if}}
                {{#if this.barnepensjon}}
                    <div>- Barnepensjon</div>
                {{/if}}
                {{#if this.barnetilsyn}}
                    <div>- Barnetilsyn</div>
                {{/if}}
                {{#if this.skolepenger}}
                    <div>- Skolepenger</div>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>Fra dato:</td>
            <td>{{this.fraDato}}</td>
        </tr>
    {{/with}}
    </tbody>
</table>
