<table>
    <thead>
    <tr>
        <th colspan="2">
            <h4>Hva søker du?</h4>
        </th>
    </tr>
    </thead>

    <tbody>
    {{#with stoenadType}}
        <tr>
            <td>Valgt hovedytelse:</td>
            <td>{{capitalize this.valgteYtelser.hovedytelse}}</td>
        </tr>
        <tr>
            <td>Søker også barnepensjon</td>
            <td>{{capitalize this.valgteYtelser.barnepensjon}}</td>
        </tr>
        <tr>
            <td>Fra dato:</td>
            <td>{{iso_to_nor_date this.fraDato}}</td>
        </tr>
        <tr>
            <td>Søknad mottatt dato:</td>
            <td>{{iso_to_nor_date this.mottattDato}}</td>
        </tr>
    {{/with}}
    </tbody>
</table>
