<table>
    <thead>
    <tr>
        <th colspan="2">
            <h4>Tidligere arbeidsforhold</h4>
        </th>
    </tr>
    </thead>

    <tbody>
    {{#with tidligereArbeidsforhold}}
        {{#each tidligereArbeidsforhold}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">Tidl. arbeidsforhold nr. {{inc @index}}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Beskrivelse:</td>
                            <td>{{this.beskrivelse}}</td>
                        </tr>
                        <tr>
                            <td>Varighet:</td>
                            <td>{{iso_to_nor_date this.fraDato}} - {{iso_to_nor_date this.tilDato}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/each}}
    {{/with}}
    </tbody>
</table>
