<h2>
    {{#eq spraak "en"}}
        Information about children
    {{else}}
        {{#eq spraak "nn"}}
            Opplysingar om barn
        {{else}}
            Opplysninger om barn
        {{/eq}}
    {{/eq}}
</h2>

{{> eypdfgen/partials_v2/common/opplysning this.soeker.uregistrertEllerVenterBarn}}

{{#if this.barn.length}}
    <h3>
        {{#eq spraak "en"}}
            Registered children:
        {{else}}
            {{#eq spraak "nn"}}
                Registrerte barn:
            {{else}}
                Registrerte barn:
            {{/eq}}
        {{/eq}}
    </h3>

    {{#each this.barn}}
        <div class="panel">
            {{> eypdfgen/partials_v2/common/barn/barn this}}
        </div>
    {{/each}}
{{/if}}
