<table>
    <thead>
        <tr>
            <th colspan="2">
                <h4>Opplysninger om barnet</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        {{> eypdfgen/partials/common/barn/barn this}}
    </tbody>
</table>
