<h2>Opplysninger om søsken</h2>
{{#if this.length}}
    {{#each this}}
        {{> eypdfgen/partials/common/barn/barn this}}
    {{/each}}
{{else}}
    <p>Innsender/søker har ikke opplyst om eventuelle søsken.</p>
{{/if}}
