.dropdown {
  .button {
    border: 2px solid #000;
    padding: 0.8em;
    margin: 0;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 200px;
    z-index: 10;
  }
  li {
    display: flex;
    margin: 0;
    padding: 0.8em 1em;
    background-color: #c1b5d033;
    border: 1px solid #c1b5d033;
    border-top: 1px solid #c1b5d033;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: #c1b5d0;
    }
  }
}
