$width: 650px;

.infokort-wrapper {
  display: flex;
  flex-flow: row wrap;
  //justify-content: space-evenly;
  margin: 0 auto;
  column-gap: 1rem;

  .infokort {
    .typo-normal,
    .typo-element {
      margin: 0.3rem 0;
    }

    background-color: #e7e9e9;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    flex-grow: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @media screen and (min-width: $width) {
      max-width: 49%;
    }

    &.legg-til {
      height: 230px;
    }

    &__header {
      box-sizing: border-box;
      height: 128px;
      background-color: #4d3e55;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom: 4px solid #826ba1;
      display: flex;
      align-items: flex-end;

      img {
        margin: 0 auto;
      }

      &.gjennomsiktig {
        opacity: 0.4;
      }
    }

    &__footer-item {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      text-align: center;
      padding-right: 10px;
    }

    &__footer {
      margin-bottom: 1rem;
    }

    .infokort-knapper {
      float: right;
    }

    &__informasjonsboks {
      padding: 2rem 2rem;

      .informasjonselement {
        margin: 10px 0 10px 0;
      }
    }

    &__endre-infokort {
      border: none;
      text-align: left;
      padding: inherit;
    }

    &__fullbredde {
      width: 100%;
      max-width: 100%;
    }
  }
}
