<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8" />
    {{> eypdfgen/partials_v2/style}}
    <title>Søknad om barnepensjon</title>
</head>
<body>

<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}" />

    <h1 class="title">
        {{#eq spraak "en"}}
            Application for children’s pension
        {{else}}
            Søknad om barnepensjon
        {{/eq}}
    </h1>
</div>

<div class="container">
    {{> eypdfgen/partials_v2/common/innsender this}}
    {{> eypdfgen/partials_v2/common/utbetalingsinformasjon/utbetalingsinformasjon this.utbetalingsInformasjon}}
    {{> eypdfgen/partials_v2/barnepensjon/opplysningerOmBarnet this.soeker}}
    {{> eypdfgen/partials_v2/barnepensjon/opplysningerOmForeldre this.foreldre}}
    {{> eypdfgen/partials_v2/barnepensjon/opplysningerOmSoesken this.soesken}}
</div>

{{> eypdfgen/partials_v2/footer this}}

</body>
</html>
