<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    {{> eypdfgen/partials/style}}
    <title>SØKNAD</title>
</head>
<body>

<h1>Søknad om barnepensjon</h1>

{{> eypdfgen/partials/common/innsender this}}
{{> eypdfgen/partials/common/utbetalingsinformasjon/utbetalingsinformasjon this.utbetalingsInformasjon}}
{{> eypdfgen/partials/barnepensjon/opplysningerOmBarnet this.soeker}}
{{> eypdfgen/partials/barnepensjon/opplysningerOmForeldre this.foreldre}}
{{> eypdfgen/partials/barnepensjon/opplysningerOmSoesken this.soesken}}

{{#if imageTag}}
    <i class="mute">
        Template: {{template}} ({{imageTag}})
    </i>
{{/if}}

</body>
</html>
