<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8" />
    {{> eypdfgen/partials_v2/style}}
    <title>Søknad om gjenlevendepensjon</title>
</head>
<body>

<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}" />

    <h1 class="title">
        {{#eq spraak "en"}}
            Application for survivor’s pension or transitional benefit
        {{else}}
            {{#eq spraak "nn"}}
                Søknad om attlevandepensjon eller overgangsstønad
            {{else}}
                Søknad om gjenlevendepensjon eller overgangsstønad
            {{/eq}}
        {{/eq}}
    </h1>
</div>

<div class="container">
    {{> eypdfgen/partials_v2/common/innsender this}}
    {{> eypdfgen/partials_v2/common/utbetalingsinformasjon/utbetalingsinformasjon this.utbetalingsInformasjon}}
    {{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/gjenlevende this.soeker}}
    {{> eypdfgen/partials_v2/common/avdoed/avdoed this.avdoed}}
    {{> eypdfgen/partials_v2/gjenlevendepensjon/informasjonOmBarn this}}
    {{#if this.andreStoenader}}
        {{> eypdfgen/partials_v2/gjenlevendepensjon/andreStoenader this.andreStoenader}}
    {{/if}}
</div>

{{> eypdfgen/partials_v2/footer this}}

</body>
</html>
