<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    {{> eypdfgen/partials/style}}
    <title>Søknad om gjenlevendepensjon</title>
</head>
<body>

<h1>Søknad om gjenlevendepensjon</h1>

{{> eypdfgen/partials/common/innsender this}}
{{> eypdfgen/partials/common/utbetalingsinformasjon/utbetalingsinformasjon this.utbetalingsInformasjon}}
{{> eypdfgen/partials/gjenlevendepensjon/gjenlevende/gjenlevende this.soeker}}
{{> eypdfgen/partials/common/avdoed/avdoed this.avdoed}}
{{> eypdfgen/partials/gjenlevendepensjon/informasjonOmBarn this}}

{{#if imageTag}}
    <div>
        <i class="mute">
            Template: {{template}}
        </i>
        <br/>
        <i class="mute">
            Image: {{imageTag}}
        </i>
    </div>
{{/if}}

</body>
</html>
