<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    {{> eypdfgen/partials/style}}
    <title>SØKNAD</title>
</head>
<body>

{{> eypdfgen/partials/stoenadType}}

{{> eypdfgen/partials/opplysningerOmSoekeren}}

{{> eypdfgen/partials/opplysningerOmBarn}}

{{> eypdfgen/partials/tidligereArbeidsforhold}}

{{> eypdfgen/partials/naavaerendeArbeidsforhold}}

{{> eypdfgen/partials/andreYtelser}}

</body>
</html>