<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    {{> eypdfgen/partials/style}}
    <title>SØKNAD</title>
</head>
<body>

{{#each this}}
    <table>
        <thead>
        <tr>
            <th colspan="2">
                <h4>{{tittel}}</h4>
            </th>
        </tr>
        </thead>

        {{#each elementer}}
            <tbody>
            <tr>
                <td colspan="2">
                    <table class="inner">
                        {{#if this.tittel}}
                            <thead>
                            <tr>
                                <th colspan="2">{{this.tittel}}</th>
                            </tr>
                            </thead>
                        {{/if}}

                        <tbody>
                        {{#each innhold}}
                            <tr>
                                <td>{{this.spoersmaal}}</td>
                                <td>{{this.svar}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        {{/each}}
    </table>
{{/each}}

</body>
</html>