<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
            vertical-align: top;
            word-wrap: break-word;
        }

        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }

        table thead {
            background-color: lightblue;
        }

        table.inner {
            background-color: #fafafa;
            border: 1px #ccc solid;
        }

        table.inner thead {
            background-color: #ddd;
        }

        table td {
            width: 50%;
        }

        td h4 {
            margin: 0;
        }

        body {
            page-break-inside: avoid;
        }
    </style>
    <title>SØKNAD</title>
</head>
<body>

{{> eypdfgen/partials/stoenadType}}

{{> eypdfgen/partials/opplysningerOmSoekeren}}

{{> eypdfgen/partials/opplysningerOmBarn}}

{{> eypdfgen/partials/tidligereArbeidsforhold}}

{{> eypdfgen/partials/naavaerendeArbeidsforhold}}

{{> eypdfgen/partials/andreYtelser}}

</body>
</html>