<table>
    <thead>
    <tr>
        <th colspan="2">Ny sivilstatus</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{this.spoersmaal}}</td>
        <td>{{capitalize_names this.svar}}</td>
    </tr>
    </tbody>
</table>

{{#if this.opplysning}}
    {{> eypdfgen/partials/gjenlevendepensjon/samboer/samboer this.opplysning}}
{{/if}}
