<tr>
    <td>{{this.inntektstype.spoersmaal}}</td>
    <td>
    {{#with this.inntektstype.svar}}
        {{#each this}}
            - {{this.innhold}} <br />
        {{/each}}
    {{/with}}
    </td>
</tr>
<tr>
    <td>{{this.samletBruttoinntektPrAar.spoersmaal}}</td>
    <td>kr. {{currency_no this.samletBruttoinntektPrAar.svar.innhold}}</td>
</tr>
