<div>
    <h4>
        {{#eq spraak "en"}}
            Cohabiting partner
        {{else}}
            {{#eq spraak "nn"}}
                Sambuar
            {{else}}
                Samboer
            {{/eq}}
        {{/eq}}
    </h4>

    {{> eypdfgen/partials_v2/common/personalia/enkelPersonalia this}}

    {{> eypdfgen/partials_v2/common/opplysning this.fellesBarnEllertidligereGift}}
    {{> eypdfgen/partials_v2/common/opplysning this.inntekt}}

    {{#eq this.inntekt.svar.verdi "JA" }}
        {{> eypdfgen/partials_v2/gjenlevendepensjon/samboer/inntekt this.inntekt.opplysning}}
    {{/eq}}
</div>
