{
    "brakcetSpacing": true,
    "arrowParens": "always",
    "singleQuote": true,
    "printWidth": 120,
    "semi": false,
    "trailingComma": "es5",
    "tabWidth": 2,
    "overrides": [
        {
            "files": "*.less",
            "options": {
                "singleQuote": false,
                "parser": "less"
            }
        }
    ]
}
