<h5>
    {{this.etternavn.svar}}, {{this.fornavn.svar}}
</h5>

{{> eypdfgen/partials_v2/common/personalia/enkelPersonalia this}}

<div class="row opplysning">
    <div class="col">
        {{this.statsborgerskap.spoersmaal}}
    </div>
    <div class="col">
        {{this.statsborgerskap.svar}}
    </div>
</div>

{{> eypdfgen/partials_v2/common/opplysning this.utenlandsAdresse}}

{{#eq this.utenlandsAdresse.svar.verdi "JA"}}
    {{> eypdfgen/partials_v2/common/opplysning this.utenlandsAdresse.opplysning.land}}
    {{> eypdfgen/partials_v2/common/opplysning this.utenlandsAdresse.opplysning.adresse}}
{{/eq}}

{{> eypdfgen/partials_v2/common/opplysning this.dagligOmsorg}}

{{> eypdfgen/partials_v2/common/verge/verge this.verge}}

{{#each this.foreldre}}
    {{> eypdfgen/partials_v2/common/forelder/forelder this}}
{{/each}}
