.ds-datepicker {
    width: 100%;
}

.ds-datepicker .skjemaelement__input--harFeil:not(:focus):not(:hover):not(:active):not(.inputPanel--focused) {
    border: none;
    box-shadow: none;
}

.ds-datepicker .skjemaelement__input--harFeil:not(:focus):not(:hover):not(:active):not(.inputPanel--focused) input {
    border-color: #ba3a26;
    box-shadow: 0 0 0 1px #ba3a26;
}

.ds-datepicker input {
    min-height: 40px;
    margin-top: 0 !important;
}

.datovelger > div {
    width: 100%;
}

.label {
    margin-bottom: 0.5rem !important;
}
