<h2>Opplysninger om søsken</h2>

{{#with soesken}}
    {{#each this}}
        <div class="{{#gt soesken.length 1}}panel{{/gt}}">
            {{> eypdfgen/partials_v2/common/barn/barn this}}
        </div>
    {{/each}}
{{else}}
    <i>
        {{#eq spraak "en"}}
            The sender/applicant have not supplied any information regarding siblings.
        {{else}}
            {{#eq spraak "nn"}}
                Innsender/søkar har ikkje gitt opplysingar om eventuelle sysken.
            {{else}}
                Innsender/søker har ikke opplyst om eventuelle søsken.
            {{/eq}}
        {{/eq}}
    </i>
{{/with}}
