<div id="footer">
    <span class="soknadsid">
        {{#if imageTag}}
            <i class="mute">
                    {{template}} - {{imageTag}}
                </i>
        {{/if}}
    </span>

    <span class="sidetall">
        Side <span id="currentpage"></span> av <span id="pagecount"></span>
    </span>
</div>
