<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    {{> brev/partials/style}}
    <title>Innvilget brev</title>
</head>
<body>

<div class="container">
    {{> brev/partials/header this}}
    <h1>Vi har innvilget søknaden din om barnepensjon</h1>
    {{> brev/partials/barn this}}
    {{> brev/partials/vedtaksInformasjon this}}
    {{> brev/partials/kontonummer}}
    {{> brev/partials/etterbetaling}}
    {{> brev/partials/beregning}}
    {{> brev/partials/endringer}}
    {{> brev/partials/klage}}
    {{> brev/partials/innsyn}}
    {{> brev/partials/sporsmaal}}
</div>

{{> brev/partials/footer this}}

</body>
</html>
