<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    {{> brev/partials/style}}
    <title>Verge</title>
</head>
<body>

<div class="container">
    {{> brev/partials/header this}}
    <h1>Krav om dokumentasjon om vergemål</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed ante sit amet tellus aliquet
        mattis. Donec blandit, urna ac vulputate tincidunt, lorem massa tempor lectus, nec porttitor velit nunc ac
        ex. Vivamus vel elementum magna. Nullam tristique nisl sit amet ante interdum, vitae tincidunt libero
        placerat.
    </p>

    {{> brev/partials/sporsmaal}}
</div>

{{> brev/partials/footer this}}

</body>
</html>
