name: .test-frontend.yaml

on:
  workflow_call:

jobs:
  test-and-verify:
    if: github.event_name == 'pull_request'
    name: Test and verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      # Install and build
      - name: Install
        working-directory: apps/${{ github.workflow }}
        run: yarn install --frozen-lockfile
      - name: Build
        working-directory: apps/${{ github.workflow }}
        run: yarn build

      # Run tests
      - name: Run unit tests
        working-directory: apps/${{ github.workflow }}
        run: CI=true yarn test
#      - name: Start application
#        working-directory: apps/${{ github.workflow }}
#        run: yarn start & npx wait-on http://localhost:3000
      - name: Run e2e tests (Cypress)
        uses: cypress-io/github-action@v6
        with:
          start: yarn start
          wait-on: 'http://localhost:3000'
          working-directory: apps/${{ github.workflow }}