name: barnepensjon-ui

env:
  IMAGE: ghcr.io/${{ github.repository }}/${{ github.workflow }}:${{ github.sha }}
  APP_NAME: ${{ github.workflow }}

on:
  workflow_dispatch: # Allow manually triggered workflow run
    inputs:
      deploy-prod:
        description: 'Deploy til produksjon'
        required: false
        default: 'false'
        type: choice
        options:
          - true
          - false
  push:
    branches:
      - main
      - release/*
    paths:
      - apps/barnepensjon-ui/**
  pull_request:
    branches:
      - main
      - release/*
    paths:
      - apps/barnepensjon-ui/**

jobs:
  build:
    uses: ./.github/workflows/.build-frontend.yaml
    secrets: inherit

  test:
    needs: build
    uses: ./.github/workflows/.test-frontend.yaml
    with:
      yarn-lock-hash: ${{ needs.build.outputs.yarn-lock-hash }}
    secrets: inherit

  deploy:
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    with:
      image: ${{ needs.build.outputs.image }}
    secrets: inherit
