name: selvbetjening-ui - Build, release and deploy

env:
  IMAGE: docker.pkg.github.com/${{ github.repository }}/selvbetjening-ui:${{ github.sha }}

on:
  push:
    branches:
      - main
    paths:
      - apps/selvbetjening-ui/**

jobs:
  build-and-publish:
    name: Bygg, test og push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node 14
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Install and build
        working-directory: apps/selvbetjening-ui
        run: |
          yarn install
          yarn build
      - name: Build and publish Docker image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker build --tag ${IMAGE} apps/selvbetjening-ui
          docker login docker.pkg.github.com -u ${GITHUB_REPOSITORY} -p ${GITHUB_TOKEN}
          docker push ${IMAGE}

  deploy-to-dev-gcp:
    name: Deploy to dev-gcp
    needs: build-and-publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: apps/selvbetjening-ui/nais/dev-gcp.yaml