name: journalfoer-soeknad

on:
  workflow_dispatch: # Allow manually triggered workflow run
    inputs:
      deploy-prod:
        description: 'Deploy til produksjon'
        required: false
        default: 'false'
        type: choice
        options:
          - true
          - false
  push:
    branches:
      - main
    paths:
      - apps/journalfoer-soeknad/**
      - gradle/libs.versions.toml
  pull_request:
    branches:
      - main
    paths:
      - apps/journalfoer-soeknad/**
      - gradle/libs.versions.toml

jobs:
  test:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/.test-backend.yaml
    secrets: inherit

  build:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/.build-backend.yaml
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  deploy:
    needs: build
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/.deploy.yaml
    with:
      image: ${{ needs.build.outputs.image }}
    secrets: inherit
