name: barnepensjon-ui

env:
  IMAGE: docker.pkg.github.com/${{ github.repository }}/${{ github.workflow }}:${{ github.sha }}
  APP_NAME: ${{ github.workflow }}

on:
  workflow_dispatch: # Allow manually triggered workflow run
    inputs:
      deploy-prod:
        description: 'Deploy til produksjon'
        required: false
        default: 'false'
  push:
    branches:
      - main
      - release/*
      - feature/*
      - fix/*
    paths:
      - apps/barnepensjon-ui/**

jobs:
  build-and-publish:
    name: Build, test and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node 14
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Install and build
        working-directory: apps/${{ env.APP_NAME }}
        run: |
          yarn --cwd client install && yarn --cwd client build
          yarn --cwd server install && yarn --cwd server build
      - name: Build and publish Docker image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker login docker.pkg.github.com -u ${GITHUB_REPOSITORY} -p ${GITHUB_TOKEN}
          docker build --tag ${IMAGE} apps/${APP_NAME}
          docker push ${IMAGE}

  test-and-verify:
    name: Deploy to dev-gcp
    needs: build-and-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node 14
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Run tests
        working-directory: apps/${{ env.APP_NAME }}/client
        run: |
          CI=true yarn test
      - name: Start application
        working-directory: apps/${{ env.APP_NAME }}/client
        run: |
          yarn start & npx wait-on http://localhost:3000
      - name: Run e2e tests (Cypress)
        working-directory: apps/${{ env.APP_NAME }}/client
        run: |
          yarn cy:test

  deploy-to-dev-gcp:
    name: Deploy to dev-gcp
    needs: build-and-publish
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: apps/${{ env.APP_NAME }}/.nais/dev.yaml

  deploy-to-labs-gcp:
    name: Deploy to labs-gcp
    needs: build-and-publish
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: labs-gcp
          RESOURCE: apps/${{ env.APP_NAME }}/.nais/labs.yaml

  deploy-to-prod-gcp:
    name: Deploy to prod-gcp
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.deploy-prod == 'true' }}
    needs: [test-and-verify, deploy-to-dev-gcp]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: apps/${{ env.APP_NAME }}/.nais/prod.yaml
