name: journalfoer-soeknad

on:
  workflow_dispatch: # Allow manually triggered workflow run
    inputs:
      deploy-prod:
        description: 'Deploy til produksjon'
        required: false
        default: 'false'
        type: choice
        options:
          - true
          - false
  push:
    branches:
      - main
    paths:
      - apps/journalfoer-soeknad/**

jobs:
  build:
    uses: ./.github/workflows/.build-backend.yaml
    secrets: inherit

  deploy:
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    with:
      image: ${{ needs.build.outputs.image }}
    secrets: inherit
