name: etterlatte-node-server

env:
  APP_NAME: ${{ github.workflow }}
  IMAGE_TAG: ghcr.io/${{ github.repository }}/${{ github.workflow }}:${{ github.sha }}
  IMAGE_TAG_LATEST: ghcr.io/${{ github.repository }}/${{ github.workflow }}:latest

on:
  workflow_dispatch: # Allow manually triggered workflow run
  push:
    branches:
      - main
    paths:
      - apps/etterlatte-node-server/**
      - '!apps/etterlatte-node-server/src/mock/**'
      - '!apps/etterlatte-node-server/README.md'
  pull_request:
    branches:
      - main
    paths:
      - apps/etterlatte-node-server/**
      - '!apps/etterlatte-node-server/src/mock/**'
      - '!apps/etterlatte-node-server/README.md'

jobs:
  build-and-publish:
    name: Build, test and publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Node 18
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      # Check cache for node_modules
      - name: Cache node modules (client)
        id: yarn-cache
        uses: actions/cache@v3
        with:
          path: |
            apps/${{ env.APP_NAME }}/node_modules
            ~/.cache/Cypress
          key: ${{ env.APP_NAME }}-${{ hashFiles('apps/etterlatte-node-server/yarn.lock') }}

      # Install and build client
      - name: Yarn install
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        working-directory: apps/${{ env.APP_NAME }}
        env:
          NPM_TOKEN: ${{ secrets.READER_TOKEN }}
        run: yarn install
      - name: Yarn build
        working-directory: apps/${{ env.APP_NAME }}
        env:
          NPM_TOKEN: ${{ secrets.READER_TOKEN }}
        run: yarn build

      # Docker login, build and push
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: apps/${{ env.APP_NAME }}
          push: true
          # Hvis main, markeres docker image med latest.
          tags: |
            ${{ env.IMAGE_TAG }} 
            ${{ github.ref_name == 'main' && env.IMAGE_TAG_LATEST || ''}}
