name: etterlatte-node-server

on:
  workflow_dispatch: # Allow manually triggered workflow run
    inputs:
      deploy-prod:
        description: 'Deploy til produksjon'
        required: false
        default: 'false'
        type: choice
        options:
          - true
          - false
  push:
    branches:
      - main
    paths:
      - apps/etterlatte-node-server/**
      - '!apps/etterlatte-node-server/src/mock/**'
      - '!apps/etterlatte-node-server/README.md'
  pull_request:
    branches:
      - main
    paths:
      - apps/etterlatte-node-server/**
      - '!apps/etterlatte-node-server/src/mock/**'
      - '!apps/etterlatte-node-server/README.md'

jobs:
  build:
    uses: ./.github/workflows/.build-frontend.yaml
    with:
      dockerfile: apps/etterlatte-node-server/Dockerfile
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  test:
    uses: ./.github/workflows/.test-frontend.yaml
    with:
      yarn-lock-hash: ${{ needs.build.outputs.yarn-lock-hash }}
    secrets: inherit