name: Verify branches

on:
  workflow_dispatch: # Allow manually triggered workflow run
  push:
    branches:
      - '*'
      - '!main'

jobs:
  verify-branches:
    name: Verification
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      # Build
      - name: Run Gradle Check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew test
